<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naiaraodiaga.earthquakecontentprovider"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:icon="@drawable/quake_launcher">
        <activity
            android:name="com.naiaraodiaga.earthquakecontentprovider.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.naiaraodiaga.earthquakecontentprovider.MyPreferenceActivity"
            android:label="@string/title_activity_preference" >
        </activity>
        <activity
            android:name="com.naiaraodiaga.earthquakecontentprovider.EarthQuakeDetails"
            android:label="Details" >
        </activity>
        <provider android:name=".MyContentProvider" android:authorities="com.naiaraodiaga.provider.earthquakecontentprovider"></provider>
        <service android:enabled="true" android:name=".QuakesDownloaderService" android:permission="com.naiaraodiaga.MY_SERVICE_PERMISSION"/>
        <receiver android:name=".AlarmReceiver" >
            <intent-filter>
				<action android:name="com.naiaraodiaga.earthquake.alarmService"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
