<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naiaraodiaga.pruebamanifiesto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.READ_CONTACTS" android:maxSdkVersion="19"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS" android:maxSdkVersion="19"/>
    <uses-permission android:name="android.permission.VIBRATE" android:maxSdkVersion="19"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET" android:maxSdkVersion="19"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER" android:maxSdkVersion="19"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="19"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" android:maxSdkVersion="19"/>
    <uses-permission android:name="android.permission.NFC" android:maxSdkVersion="19"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" android:maxSdkVersion="19"/>

    <permission 
        android:name="com.naiaraodiaga.pruebamanifiesto.CUSTOM_PERMISSION"
        android:label="Permiso personalizado"
        android:description="@string/hello_world">
    </permission>
    
    <uses-feature android:name="android.hardware.camera" />    
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" 
        android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.naiaraodiaga.pruebamanifiesto.MainActivity"
            android:label="@string/app_name" 
            android:launchMode="standard"
            android:minSdkVersion="16"
            android:permission="android.permission.CAMERA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service 
            android:name="MyService" android:permission="com.naiaraodiaga.pruebamanifiesto.CUSTOM_PERMISSION">
        </service>
        <provider android:name=".MyProvider" android:permission="com.naiaraodiaga.pruebamanifiesto.CUSTOM_PERMISSION" android:authorities="com.naiaraodiaga.pruebamanifiesto.authority"></provider>
        <receiver android:name=".MyReceiver" android:permission="com.naiaraodiaga.pruebamanifiesto.CUSTOM_PERMISSION">
            <intent-filter>
            	<action android:name="android.intent.action.AIRPLANE_MODE" />
            	<action android:name="android.intent.action.BATTERY_LOW"/>
            	<action android:name="android.intent.action.MEDIA_EJECT"/>
            	<action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
        	</intent-filter>
        </receiver>
    </application>

	
</manifest>
